ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(18, 18, 18);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(62, 62, 62);
}

a {
    font-family: consolas;
    color: white;
}

h1 {
    color: white;
    font-family: consolas;
}

.size-medium {
    font-size: medium;
}
  
.active {
    background-color: rgb(103, 58, 183);
}

.main-background {
    background-color: rgb(42, 42, 42);
}

.flex-container {
    display: flex;
    /* align-items: center;
    justify-content: space-around; */
}
.flex-container > div {
    margin: 10px;
    padding: 20px;
}

.primary-button {
    background-color: rgb(187, 134, 252);
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    font-family: consolas;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.primary-button:hover {opacity: 1}